.cart-main-wrapper{
    background-color: rgb(235, 235, 235);
    width: 100%;
    height: 100%;
}

.cart-title{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 1%;
}

.wrapper{
    margin: 2%;
    padding: 2%;
    background-color: white;
}

.cart-header{
    font-size: 1.5rem;
    padding-bottom: 1%;
}

.header-border{
    border-bottom:1px solid rgb(190, 186, 186) ;
}

.container{
    display: flex;
    gap: 10px;
}

.cartImg{
   width: 200px;
   height: 45px;
   object-fit: cover;
   object-position: center;
}

.buy-now-button{
    margin-top: 10px;
    box-sizing: border-box;
    cursor: pointer;
    width:100%;
    padding: 10px;
    background-color: rgb(211, 189, 94);
    border-radius: 5px;
    border: none;


}

.checkout-card{
    border: 1px solid rgb(190, 186, 186);
    padding: 15px;
    border-radius: 5px;
    height: fit-content;
}

.cart-items-container{
    flex-grow: 1;
}