.checkout-2-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

.checkout-2-wrapper-1{
    display: flex;
}

.checkout-2-container{
    position: relative;
    top:20px;
    max-width: 1240px;
}

.checkout-2-content{
    display: flex;
    gap:10px
}
.checkout-2-header{
    font-size: 1.35rem;
    font-weight: 500;
}

.checkout-wrapper{
    border: 1px solid rgb(173, 172, 172);
    border-radius: 10px;
    /* flex-grow: 1; */
    flex-basis: 80%;
    padding: 2%;
    /* box-shadow: 1px 1px 10px rgb(185, 183, 183) ; */
}

.place-order-div{
    /* width: 100%; */
    /* flex-grow: 1; */
    flex-basis: 20%;
    min-width: 150px;   
    height: fit-content;
    padding: 2%;
    border: 1px solid rgb(173, 172, 172);
    border-radius: 10px;
}

.place-order-button{
    width: 100%;
    background-color: rgb(211, 189, 94);
    border:none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.summary-params{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:5px 0;
}

.price-list{
    padding: 10px 0;
    border-bottom: 1px solid rgb(182, 181, 181);
}

.order-total{
    padding-top: 10px;
}